{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="main">
    <header>
        <div class="wrap">
            <img src="{% static 'upload/welcome.png' %}" height="532" width="252" alt="" class="header-img">
            <div class="header-wrapper">
                <div>
                    <h1 style="margin-bottom:9px; color:chocolate">Settle My Car</h1>
                    <h6>( An Alo Autoworks brand )</h6>
            </div>
                <p>With a smartphone and the right app. You can find best mechanic at best price for your car. Book " Emergency Repair " or compare quotes of various garage/mechanics on realtime basis.</p>
                <p class="autor"><a href="#"><h5>Ready to settle your car?</h5></a></p>
                <div class="buttons-wrapper">
                    <a href="#" class="button">Download App</a>
                    <a href="{% url 'car:privacy' %}" class="button button-stripe">Privacy Guideline</a>
                </div>
            </div>
            <!-- /.header-wrapper -->
        </div>
        <!-- /.wrap -->
    </header>
    <div class="spanning">
        <div class="promo clearfix">
            <div class="wrap">
                <div class="promo-wrapper clearfix">
                    <div class="promo-column">
                        <img src="{% static 'upload/pin.png' %}" height="32" width="24" alt="">
                        <h5>Location Based</h5>
                        <p>We will enable you to go through all garages and make a comparison between them as per your location.</p>
                    </div>
                    <div class="promo-column">
                        <img src="{% static 'upload/settings.png' %}" height="32" width="33" alt="">
                        <h5>Imediate booking</h5>
                        <p>Need mechanic immediately? 
                            Don't worry we will provide you a right one.</p>
                    </div>
                    <div class="promo-column">
                        <img src="{% static 'upload/easy.png' %}" height="32" width="34" alt="">
                        <h5>GET quotes</h5>
                        <p>Receive quotes from multiple garages for your car service/repair. Choose the best one for you.</p>
                    </div>
                    <div class="promo-column">
                        <img src="{% static 'upload/saturn.png' %}" height="32" width="32" alt="">
                        <h5>REPAIR LOG</h5>
                        <p>Full detailed log of your current repair status and repair done earlier.</p>
                    </div>
                </div>
            </div>
            <!-- /.wrap -->
        </div>
        <!-- /.promo clearfix -->
        <div class="discover clearfix">
            <div class="wrap">
                <div class="discover-content clearfix">
                    <h2>Discover</h2>
                    <p>Tell us the service you need for your car. Sit and relax! We will help you to discover multiple garages/mechanics based on your location. Choose the best and affordable ones.</p>
                    <div class="discover-button clearfix">
                        <a href="{% url 'car:privacy' %}" class="button ">
                            <span>Privacy Guideline</span>
                            <!-- <span class="button-download-title">Download for</span> -->
                            <!-- <span class="button-download-subtitle">Privacy Guideline</span> -->
                        </a>
                        <a href="#" class="button button-download android">
                            <span class="button-download-title">Download for</span>
                            <span class="button-download-subtitle">Android</span>
                        </a>
                    </div>
                </div>
                <div class="screen-couple-left wow fadeInLeftBig">
                    <div class="fog fog-top wow"></div>
                    <div class="fog fog-bottom wow"></div>
                    <img class="screen above" src="{% static 'upload/Garagelistscreen.png' %}" alt="" height="484" width="250"/> <img class="screen beyond wow fadeInLeft" data-wow-delay="0.5s" src="images/screen_couple_beyond_v2.png" alt="" height="407" width="210" /> 
                </div>
            </div>
            <!-- /.wrap -->
        </div>
        <!-- /.discover clearfix -->
        <div class="video clearfix">
            <div class="wrap">
                <div class="video-title">Explore. APP Plus in action</div>
                <div class="video-subtitle">Just try it for yourself</div>
                <div class="video-block">
                   <iframe src="https://www.youtube.com/embed/bEEL6XRWTso" width="814" height="458" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
                <div class="video-share-wrapper clearfix">
                    <ul class="social-list clearfix">
                        <li class="video-share-title">Share it with your friends:</li>
                        <li><a href="https://twitter.com/alomechanic" class="social-twitter">via <strong>Twitter</strong></a></li>
                        <li><a href="https://www.facebook.com/alostorm/" class="social-facebook">via <strong>Facebook</strong></a></li>
                        <li><a href="https://www.instagram.com/alo_cars/" class="social-google">via <strong>Instagram</strong></a></li>
                    </ul>
                </div>
            </div>
            <!-- /.wrap -->
        </div>
        <!-- /.videos clearfix -->
        <div class="comments clearfix">
            <div class="wrap">
                <div class="tab">
                    <div class="box visible">
                        <h4>People talking about <a href="#">#settlemycar</a></h4>
                        <p>Join our #settlemycar journey. Meetup in New Delhi this Saturday! Spread the word and join us for fun.</p>
                    </div>
                    <!-- <div class="box">
                        <h4>Users loving <a href="#">#APP-PLUS</a></h4>
                        <p>Join our #settlemycar journey. Meetup in New Delhi this Saturday! Spread the word and join us for fun.</p>
                    </div> -->
                    <div class="box">
                            <h4>Folks enjoying <a href="#">#settlemycar</a></h4>
                            <p>Nothing to fear, the #settlemycar has become my perfect settler, so cool and such a powerful app.</p>
                        </div>
                    <ul class="tabs">
                        <li class="active"></li>
                        <li></li>
                        
                    </ul>
                    <a href="#" class="tab-prev"></a>
                    <a href="#" class="tab-next"></a>
                </div>
            </div>
            <!-- /.wrap -->
        </div>
        <!-- /.comments clearfix -->
        <div class="simple clearfix">
            <div class="wrap">
                <div class="simple-content">
                    <h3>The Simplest UI</h3>
                    <ul>
                        <li class="clearfix"><img src="{% static 'upload/ico1.png' %}" height="32" width="32" alt=""><span>Fastest navigation</span></li>
                        <li class="clearfix"><img src="{% static 'upload/ico2.png' %}" height="32" width="32" alt=""><span>Huge number of garages/mechanics</span></li>
                        <li class="clearfix"><img src="{% static 'upload/ico3.png' %}" height="32" width="32" alt=""><span>Only the best facilitated garage/mechanics.</span></li>
                        <li class="clearfix"><img src="{% static 'upload/ico4.png' %}" height="32" width="32" alt=""><span>Easy booking options.</span></li>
                        <li class="clearfix"><img src="{% static 'upload/ico5.png' %}" height="32" width="32" alt=""><span>Secure Payment</span></li>
                    </ul>
                </div>
                <div class="simple-img">
                    <img src="{% static 'upload/bookscreen.png' %}" height="508" width="587" alt="">
                </div>
            </div>
            <!-- /.wrap -->
        </div>
        <!-- /.simple clearfix -->
        <div class="newsletter clearfix">
            <div class="wrap">
                <div class="newsletter-title">our car care advice tips</div>
                <div class="newsletter-form clearfix">
                    <form method="POST" onsubmit="return validation()" action="">
                        {% csrf_token %}
                        {{ form.errors }}
                        <p>{{ form.email }}</p>

                        <input type="submit" class="button" value="Subscribe">
                    </form>
                </div>
                <p>We are always ready to send you car care tips for free. You just need to fill the email box.</p>
            </div>
            <!-- /.wrap -->
        </div>
        <!-- /.newsletter clearfix -->
    </div>
    <!-- /.spanning-columns -->
</div>
<!-- /.main -->
<!-- DOWNLOAD BEGIN -->
<section id="download" class="bg-color-main">
    <div class="container-fluid"> <a href="#wrap" class="goto">
        <h2><div class="download"><i class="fa fa-android"></i> Download App</div></h2>
        </a> </div>
    <div class="block-bg"></div>
</section>
<!-- DOWNLOAD END --> 
{% endblock %}